ENV=dev
PORT=3000
DATABASE_URI_DEV=postgresql://firewall_user:firewall_pass@localhost:5432/firewall_dev
DATABASE_URI_PRODUCTION=postgresql://firewall_user:firewall_pass@localhost:5432/firewall_prod
DB_CONNECTION_INTERVAL=1000
